.taurus-button {
  background-color: #eefae0;
  color: #050800;
  font-size: 3em;
  border-radius: 50%;
}

.showing-debunk {
  background-color: #72cc18;
  color: #393a37;
}

.box-visible {
  background-color: rgb(61, 5, 165);
  color: #393a37;
  font-size: 7em;
}

.bg-black {
  background-color: black;
  outline: 5px solid green;
}
